body { 
  background-color: #011F3F;
  padding: 0;
  margin: 0;
  text-align: center; 
  user-select: none; 
  font-family: 'Press Start 2P', cursive; 
  color: #FEF2BF;  
} 

p { 
  font-size: 1rem;  
}

#level-title {  
  font-size: calc(2px + 6vh);   
  margin: 5vh 0; 
}
 
#inputNomePlayer1, #inputNomePlayer2 {
  background-color: #0c5eb673;
  padding: 7px 20px;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive; 
  text-align: center;
  display: none;
}

.row {
  display: none;
}

.sequencia { 
  font-size: calc(2px + 2vh); 
  margin-bottom: 5vh;
  display: none;  
}

.header {
  display: flex;
  justify-content: space-between; 
}

.recordJogador1 { 
  margin: 1% 0 0 1%; 
  opacity: 0;
}


.recordJogador2 { 
  margin: 1% 1% 0 0; 
  opacity: 0;
}

.container {  
  padding: 0;
  position: relative;
  margin: 0 auto;
  height: 85vh;
}

.btn { 
  margin: 1%;
  display: inline-block; 
  padding: 13vh; 
  border: 10px solid black;
  border-radius: 20%;
  content: '.';
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ff0000c4;
}

.green {
  background-color: green;
}

.blue {
  background-color:#0000ff9c;  
}

.yellow {
  background-color: #ffff00d3;
}

.pressed {
  box-shadow: 0 0 20px white; 
}
 
.umPlayer, .doisPlayers:hover {
  cursor: pointer;
}
 
.tamara {
  font-style: italic;
  margin-bottom: 5%;
}

.qntJogadores{
  margin-bottom: 2%;
}

.vez {
  display: none; 
  font-size: calc(2px + 2vh); 
  margin-bottom: 5vh;
}
